@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=IM+Fell+English+SC&display=swap');

:root {
  --beige: #f7ece1;
  --purple1: #C5B3E5;
  --purple2: #8B67CD;
  --purple3: #6F42C1;
  --purple4: #432874;
  --grey1: #c1bdb3;
  --grey2: #7f7979;
  --grey3: #323031;
  --grey4: #222122;
  --barbarian: linear-gradient(90deg, #C5B3E5 0%, #8B67CD 100%);
  --bard: linear-gradient(90deg, #C5B3E5 0%, #8B67CD 100%);
  --cleric: linear-gradient(90deg, #F9D5E5 0%, #F4A7B9 100%);
  --druid: linear-gradient(90deg, #C5E5D5 0%, #67CD8B 100%);
  --fighter: linear-gradient(90deg, #E5D5C5 0%, #CD8B67 100%);
  --monk: linear-gradient(90deg, #E5D5C5 0%, #CD8B67 100%);
  --paladin: linear-gradient(90deg, #E5D5C5 0%, #CD8B67 100%);
  --ranger: linear-gradient(90deg, #E5D5C5 0%, #CD8B67 100%);
  --rogue: linear-gradient(90deg, #E5D5C5 0%, #CD8B67 100%);
  --sorcerer: linear-gradient(90deg, #E5D5C5 0%, #CD8B67 100%);
  --wizard: linear-gradient(90deg, #E5C5D5 0%, #CD678B 100%);
  --warlock: linear-gradient(90deg, #E5C5D5 0%, #CD678B 100%);
}

body {
  background-color: var(--beige);
}

p, input, select, span {
  font-family: "Bellefair" !important;
}

h1, h2, h3, strong, button, label {
  font-family: "IM Fell English SC" !important;
}

footer {
  color: var(--grey4) !important;
}

footer a {
  color: var(--grey3) !important;
}

.card-img-top {
  color: inherit !important;
}

.btn-primary {
  background: var(--grey3) !important;
  border-color: var(--grey4) !important;
  color: white !important;
}
.btn-primary:hover {
  background: var(--grey2) !important;
  border-color: var(--grey3) !important;
  color: white !important;
  transform: scale(1.05);
}

.logo {
  max-height: 100px;
}
.card {
  background: white !important;
  border-color: black !important;
}
.card-img-top {
  max-height: 100px;
  padding-top: 10px;
}

#class-overview-container {
  position: relative;
  display: inline-block;
  background: transparent;  
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#form-container {
  border: 2px solid black;
}
  
@media (max-width: 768px) {
  .overlay-text {
     font-size: 14px;
  }
}


/* Printable character sheet */
@media print {
  /* Hide elements during print */
  a, button, footer {
      display: none;
      opacity: 0;
  }
  #printable-area {
      border: 2px solid black;
  }
  body {
      margin: 1in;
      font-size: 14px;
  }
}

/* Custom Dropdown Styles 
.dd-menu {
  position: relative;
  display: inline-block;
}
.dd-button {
  font-family: "Bellefair" !important;
  font-style: italic;
  cursor: pointer;
  background: #fff;
  user-select: none;
  min-width: 160px;
}
.dd-content {
  font-family: "Bellefair" !important;
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1000;
}
.dd-content div {
  cursor: pointer;
  user-select: none;
}
.dd-content div:hover {
  background-color: #f1f1f1;
}
.dd-hover-info {
  position: absolute;
  background: #FEF6CB !important;
  border-color: black !important;
  z-index: 2000;
  font-size: 14px;
  display: none;
  overflow: visible;
  padding: .375rem .75rem;
}
.dd-hover-info h4 {
  margin: 0 0 5px 0;
  font-size: 16px;
  color: #333;
}
.dd-hover-info p {
  margin: 0;
  color: #555;
}
.dd-menu, #form-container {
  overflow: visible !important;
}
*/