@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=IM+Fell+English+SC&display=swap');

:root {
  --grey-lt: #7f7979;
  --grey-md: #323031;
  --grey-dk: #222122;
  --barbarian: #d47b4b;
  --bard: #d467bb;
  --cleric: #8492a1;
  --druid: #82ac4e;
  --fighter: #7F513E;
  --monk: #51A5C5;
  --paladin: #B59E54;
  --ranger: #507F62;
  --rogue: #555752;
  --sorcerer: #bf4141;
  --warlock: #6f57dd;
  --wizard: #874da8;
  --barbarian-grad: linear-gradient(180deg, #fdd8cd 0%, var(--barbarian) 90%);
  --bard-grad: linear-gradient(180deg, #fbd7fc 0%, var(--bard) 90%);
  --cleric-grad: linear-gradient(180deg, #ddecfb 0%, var(--cleric) 90%);
  --druid-grad: linear-gradient(180deg, #f5ffc0 0%, var(--druid) 90%);
  --fighter-grad: linear-gradient(180deg, #ffd9c8 0%, var(--fighter) 90%);
  --monk-grad: linear-gradient(180deg, #ccf1ff 0%, var(--monk) 90%);
  --paladin-grad: linear-gradient(180deg, #fff4d1 0%, var(--paladin) 90%);
  --ranger-grad: linear-gradient(180deg, #d7ffe6 0%, var(--ranger) 90%);
  --rogue-grad: linear-gradient(180deg, #fbfff4 0%, var(--rogue) 90%);
  --sorcerer-grad: linear-gradient(180deg, #ffc7c7 0%, var(--sorcerer) 90%);
  --warlock-grad: linear-gradient(180deg, #cdddff 0%, var(--warlock) 90%);
  --wizard-grad: linear-gradient(180deg, #f0d7ff 0%, var(--wizard) 90%);
}

body {
  background-color: whitesmoke;
}

p, input, select, span, li {
  font-family: "Bellefair" !important;
}

h2 span {
  font-family: "IM Fell English SC" !important;

}

h1, h2, h3, strong, button, label {
  font-family: "IM Fell English SC" !important;
}

footer {
  color: var(--grey-dk) !important;
}

footer a {
  color: var(--grey-md) !important;
}

#character-container {
  border: 2px solid black;
  border-radius: .375rem;
  background: white; 
}

.form-section {
  border: 2px solid black;
  border-radius: .375rem;
  background: white;
}

.card-img-top {
  color: inherit !important;
}

.btn-primary {
  background: black !important;
  border-color: black !important;
  color: white !important;
}
.btn-primary:hover {
  background: var(--grey-md) !important;
  border-color: black !important;
  color: white !important;
  transform: scale(1.05);
}

.logo {
  max-height: 100px;
}
.card {
  border-color: black !important;
  border-width: 2px !important;
}
.card-img-top {
  max-height: 100px;
  padding-top: 10px;
}

.description {
  font-size: 0.85rem;
  background: whitesmoke;
  color: var(--grey-lt);
  border: 1px solid #DEE2E6;
  border-radius: .375rem;
  padding: 5px;
  margin-top: 8px;
}

.ability {
  background: white;
  border: 1px solid var(--grey-md);
  border-radius: .375rem;
}

.ability-label {
  font-family: "IM Fell English SC" !important;
  font-weight: bold;
}
.ability-score {
  font-size: 1.5rem;
}
.ability-mod {
  color: var(--grey-lt) !important;
}
.skill-label {
  font-family: "Bellefair" !important;
}
.skill-mod {
  color: var(--grey-lt) !important;
  border-bottom: 2px solid var(--grey-lt);
  padding: 0px 10px;
}
.big-number {
  font-weight: bold;
  border: 1px solid var(--grey-md);
  border-radius: 50%;
  height: 10px;
  padding: 5px 10px;
}
.check-input {
  accent-color: var(--grey-md) !important;
}
.stat {
  background: white;
  border: 2px solid var(--grey-md);
  border-radius: .375rem;
  padding-top: 30px;
}
.stat-icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  padding-top: 7px;
  border: 2px solid var(--grey-md);
  border-radius: 50%;
  background: white;
  position: relative;
  top: 25px;
}

/*
#class-overview-container {
  position: relative;
  display: inline-block;
  background: transparent;  
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
  
@media (max-width: 768px) {
  .overlay-text {
     font-size: 14px;
  }
}
*/

/* Printable character sheet */
@media print {
  /* Hide elements during print */
  a, button, footer {
      display: none;
      opacity: 0;
  }
  #printable-area {
      border: 2px solid black;
  }
  body {
      margin: 1in;
      font-size: 14px;
  }
}

/* Custom Dropdown Styles 
.dd-menu {
  position: relative;
  display: inline-block;
}
.dd-button {
  font-family: "Bellefair" !important;
  font-style: italic;
  cursor: pointer;
  background: #fff;
  user-select: none;
  min-width: 160px;
}
.dd-content {
  font-family: "Bellefair" !important;
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1000;
}
.dd-content div {
  cursor: pointer;
  user-select: none;
}
.dd-content div:hover {
  background-color: #f1f1f1;
}
.dd-hover-info {
  position: absolute;
  background: #FEF6CB !important;
  border-color: black !important;
  z-index: 2000;
  font-size: 14px;
  display: none;
  overflow: visible;
  padding: .375rem .75rem;
}
.dd-hover-info h4 {
  margin: 0 0 5px 0;
  font-size: 16px;
  color: #333;
}
.dd-hover-info p {
  margin: 0;
  color: #555;
}
.dd-menu, #form-container {
  overflow: visible !important;
}
*/