@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=IM+Fell+English+SC&display=swap');

:root {
  --grey-lt: #7f7979;
  --grey-md: #323031;
  --grey-dk: #222122;
  --barbarian: #d47b4b;
  --bard: #d467bb;
  --cleric: #8492a1;
  --druid: #82ac4e;
  --fighter: #7F513E;
  --monk: #51A5C5;
  --paladin: #B59E54;
  --ranger: #507F62;
  --rogue: #555752;
  --sorcerer: #bf4141;
  --warlock: #6f57dd;
  --wizard: #874da8;
  --barbarian-grad: linear-gradient(180deg, #fdd8cd 0%, var(--barbarian) 90%);
  --bard-grad: linear-gradient(180deg, #fbd7fc 0%, var(--bard) 90%);
  --cleric-grad: linear-gradient(180deg, #ddecfb 0%, var(--cleric) 90%);
  --druid-grad: linear-gradient(180deg, #f5ffc0 0%, var(--druid) 90%);
  --fighter-grad: linear-gradient(180deg, #ffd9c8 0%, var(--fighter) 90%);
  --monk-grad: linear-gradient(180deg, #ccf1ff 0%, var(--monk) 90%);
  --paladin-grad: linear-gradient(180deg, #fff4d1 0%, var(--paladin) 90%);
  --ranger-grad: linear-gradient(180deg, #d7ffe6 0%, var(--ranger) 90%);
  --rogue-grad: linear-gradient(180deg, #fbfff4 0%, var(--rogue) 90%);
  --sorcerer-grad: linear-gradient(180deg, #ffc7c7 0%, var(--sorcerer) 90%);
  --warlock-grad: linear-gradient(180deg, #cdddff 0%, var(--warlock) 90%);
  --wizard-grad: linear-gradient(180deg, #f0d7ff 0%, var(--wizard) 90%);
}

body {
  background-color: whitesmoke;
}

p, input, select, span, li {
  font-family: "Bellefair" !important;
}

h1, h2, h3, strong, button, label,
h2 span {
  font-family: "IM Fell English SC" !important;
}

footer {
  color: var(--grey-dk) !important;
}
footer a {
  color: var(--grey-md) !important;
}

#character-container,
.form-section {
  border: 2px solid black;
  border-radius: .375rem;
  background: white;
}

.card, .form-section {
  border-color: black !important;
  border-width: 2px !important;
}

.card-img-top {
  color: inherit !important;
  max-height: 100px;
  padding-top: 10px;
}

.logo {
  max-height: 100px;
}

.btn-primary {
  background: black !important;
  border-color: black !important;
  color: white !important;
}
.btn-primary:hover {
  background: var(--grey-md) !important;
  border-color: black !important;
  color: white !important;
  transform: scale(1.05);
}

.description {
  font-size: 0.85rem;
  background: whitesmoke;
  color: var(--grey-lt);
  border: 1px solid #DEE2E6;
  border-radius: .375rem;
  padding: 5px;
  margin-top: 8px;
}

.stat, .ability {
  background: white;
  border: 2px solid var(--grey-md);
  border-radius: .375rem;
}
.stat {
  padding-top: 30px;
}
.ability {
  padding-bottom: 10px;
}

.stat-icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  padding-top: 7px;
  border: 2px solid var(--grey-md);
  border-radius: 50%;
  background: whitesmoke;
  position: relative;
  top: 25px;
}

.stat-label, .ability-label {
  font-family: "IM Fell English SC" !important;
  font-weight: bold;
}
.ability-label {
  font-size: 1.3rem;
}

.stat-score, .ability-score, .ability-mod {
  font-size: 1.5rem;
  font-family: "Bellefair" !important;
  font-weight: bold;
}

.ability-score {
  border: 2px solid var(--grey-lt);
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 40px;
  background: white;
  position: relative;
  top: -23px;
  position: relative;
  background: rgb(226, 226, 226);
}
.ability-score::after {
  content: "Score";
  font-family: "IM Fell English SC" !important;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--grey-lt);
  position: absolute;
  display: block;
  text-align: center;
}

.ability-mod {
  color: var(--grey-md) !important;
  border: 2px solid var(--grey-lt);
  border-radius: 25%;
  display: inline-block;
  width: 70px;
  background: whitesmoke;
}
.ability-mod::after {
  content: "Modifier";
  font-family: "IM Fell English SC" !important;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--grey-lt);
  display: block;
}

.skill-label {
  font-family: "Bellefair" !important;
  color: var(--grey-md) !important;
}
.skill-mod {
  color: var(--grey-lt) !important;
  border-bottom: 2px solid var(--grey-lt);
  padding: 0px 5px;
}

.prof-circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid var(--grey-md);
  border-radius: 50%;
  margin-right: 0.4em;
  vertical-align: middle;
  background: transparent;
}
.prof-circle.filled {
  background: var(--grey-lt);
}

.big-number {
  font-weight: bold;
  border: 1px solid var(--grey-md);
  border-radius: 50%;
  height: 10px;
  padding: 5px 10px;
}

.check-input {
  accent-color: var(--grey-md) !important;
  margin-right: 5px;
}

.skill-options {
  border-left: 2px solid #DEE2E6;
}

hr {
  border: 1px solid #DEE2E6;
  opacity: 1;
}

/* Printable character sheet */
@media print {
  a, button, footer {
    display: none;
    opacity: 0;
  }
  #printable-area {
    border: 2px solid black;
  }
  body {
    margin: 1in;
    font-size: 14px;
  }
}